body { overflow-x: hidden; }
.hidden { display: none !important; }
.header-fixed { z-index: 999; }
.navbar .navbar-menu .navbar-items a.btn-primary { padding-top: 15px !important; }

/* Section: Map */
.section-map { position: relative; padding-bottom: 0; padding-top: 100px; margin-top: 0; }
.section-map { background-position: top; background-repeat: no-repeat; background-color: #FFFFFF; }
.section-map:before { position: absolute; content: ""; height: 30%; width: 100%; z-index: 1; top: 0; }
.section-map:before { background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }
.section-map:after { position: absolute; bottom: 0; height: 30%; width: 100%; content: ""; z-index: 1; }
.section-map:after { background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }

.section-map .container { position: relative; z-index: 10; }
.section-map .card { border: 0; border-radius: 0; background-color: transparent; }
.section-map .card-body { padding: 40px; background-color: #222222; }
.section-map .card-body h2,
.section-map .card-body p { color: #FFFFFF; line-height: 1.8em; }
.section-map .card-body a { color: #CCCCCC; }
.section-map .card-body a:hover { opacity: 0.5; }

.section-map .icon-map-marker { position: absolute; display: block; width: 160px; height: 70px; z-index: 2; }
.section-map .icon-map-marker { background-color: #222222; padding: 0 10px; }
.section-map .icon-map-marker svg { fill: black; display: none; }		
.section-map .card-marker-details { position: absolute; max-width: 320px; left: 0; top: 50%; z-index: 2; }

.section-map .floating-cloud { position: absolute; z-index: 1; }
.section-map .floating-cloud img { filter: brightness(125%); }
.section-map .floating-cloud.cloud-1 { opacity: 0.9; left: 40%; top: 20%; }
.section-map .floating-cloud.cloud-1 img { height: 100px; }
.section-map .floating-cloud.cloud-2 { opacity: 0.9; left: 20%; top: 20%; }
.section-map .floating-cloud.cloud-2 img { height: 200px; }
.section-map .floating-cloud.cloud-3 { opacity: 0.9; left: 40%; top: 40%; }
.section-map .floating-cloud.cloud-3 img { height: 100px; }
.section-map .floating-cloud.cloud-4 { opacity: 0.9; left: 60%; top: 60%; }
.section-map .floating-cloud.cloud-4 img { height: 100px; }
.section-map .floating-cloud.cloud-5 { opacity: 0.9; left: 80%; top: 60%; }
.section-map .floating-cloud.cloud-5 img { height: 100px; }
.section-map .floating-cloud.cloud-6 { opacity: 0.9; left: 70%; top: 30%; }
.section-map .floating-cloud.cloud-6 img { height: 150px; }

.section-map .icon-map-marker:after { position: absolute; content: ""; }
.section-map .icon-map-marker:after { border-left: 10px solid transparent; border-right: 10px solid transparent; }
.section-map .icon-map-marker:after { width: 0; height: 0; border-top: 20px solid #222222; }

.section-map .icon-map-marker.map-project-1 { left: 43.7%; top: 25%; transform: translate(-100%, -100%); }
.section-map .icon-map-marker.map-project-2 { left: 28.5%; top: 33.5%; transform: translate(100%, -100%); }
.section-map .icon-map-marker.map-project-1:after { bottom: -99px; right: 15px; border-top: 100px solid #222222; }
.section-map .icon-map-marker.map-project-2:after { bottom: -19px; left: 10px; border-top: 20px solid #222222; }
.section-map .icon-map-marker.map-project-2:after { border-left: 5px solid transparent; border-right: 5px solid transparent; }	

.section-map.for-mobile .icon-map-marker.map-project-1:after { bottom: -99px; right: 15px; }
.section-map.for-mobile .icon-map-marker.map-project-2:after { bottom: -19px; left: 0; }

.home-banner-section { height: calc(100vh - 100px); }
.home-banner-section .container { top: 40%; }
.home-banner-section .banner-bottom-text { line-height: 1.5; display: block; }
.home-banner-section .banner-subtext { line-height: 1.5; }

.widget-reservation { position: absolute; bottom: 20px; left: 50%; transform: translate(-50%, 0); z-index: 10000; }

/* Modal: Default */
#modal_default { z-index: 10000; background-color: rgba(0, 0, 0, 0); padding: 0; }
#modal_default .modal-dialog { /*max-width: 720px;*/ }
#modal_default .modal-content { /*width: 90%;*/ }
#modal_default .modal-body { padding: 30px; }
#modal_default .modal-header button { position: absolute; right: 20px; top: 20px; }
#modal_default .modal-header img,
#modal_default .modal-footer img { margin: 0 auto; max-width: 240px; border: 0; text-align: center; }
#modal_default .modal-content { background-image: url(../img/modal/bg-beach.jpg); background-size: cover; background-position: center center; }
#modal_default .modal-body { padding: 30px; font-size: 14px; line-height: 22px; }
#modal_default .modal-body ol { background-color: rgba(57, 182, 223, 0.5); padding: 25px 25px 25px 45px; border-radius: 5px; }
#modal_default .modal-body ul { padding: 0 25px 0; list-style: disc; }
#modal_default .modal-body li { margin-bottom: 20px; }

header.header-fixed .header-ticker { display: none; }
header .header-ticker { background-color: #34B4F5; margin-top: -15px; text-align: center; padding: 15px 0; }
header .header-ticker p { color: #FFFFFF; margin-bottom: 0; }
header .header-ticker a { background-color: rgba(0, 0, 0, 0.2); padding: 2px 5px; }
header .header-ticker a { border-radius: 5px; transition: ease all 0.3s; color: #FFFFFF; }
header .header-ticker a:hover { background-color: rgba(0, 0, 0, 0); }

.main-fold { background-color: #000000; position: relative; }
.main-fold:before { position: absolute; content: ""; background-color: #000000; }
.main-fold:before { height: 100%; width: 100%; left: 0; top: 0; opacity: 0.5; }
.main-fold .container,
.main-fold .row { height: 100vh; position: relative; z-index: 1; }
.main-fold h1 { font-size: 88px; color: #FFFFFF; text-transform: uppercase; }
.main-fold h5 { font-size: 22px; color: #FFFFFF; text-transform: uppercase; letter-spacing: .4em; }
.main-fold h4 { font-size: 18px; color: #FFFFFF; }

/* Responsive */

/* 320  */
@media (min-width: 320px) {	
	.for-mobile { display: block; }
	.for-screen { display: none; }

	.section-map.for-mobile .icon-map-marker.map-project-1 { left: 47%; top: 0%; }
	.section-map.for-mobile .icon-map-marker.map-project-2 { right: 59%; top: 27%; left: auto; }
	.home-banner-section .container { width: 100%; }

	.widget-reservation { bottom: -200px; width: 100%; }
	.section-introduction { margin-top: 100px; }
	
	.pb-100 { padding-bottom: 50px; }
	
	.main-fold h1 { font-size: 48px; }
	.main-fold h5 { font-size: 20px; }
	.main-fold h4 { font-size: 16px; }
	
	.project-locations { width: 100%; height: 500px; background-position: top center; background-size: cover; position: relative; }
	.project-locations a { position: absolute; width: 110px; height: 50px; transform: translate(-50%, -50%); display: block; }
	.project-locations .project-casobe { left: 22%; top: 110px; }
	.project-locations .project-laiya { left: 51%; top: 165px; }
}

/* 480  */
@media (min-width: 480px) {
	.project-locations a { width: 110px; height: 50px; }	
	.project-locations .project-casobe { left: 29%; top: 110px; }
}

/* 480  */
@media (min-width: 560px) {
	.project-locations a { width: 110px; height: 50px; }	
	.project-locations .project-casobe { left: 31%; top: 110px; }
}

/* 768 */
@media (min-width: 768px) {	
	.for-mobile { display: none; }
	.for-screen { display: block; }

	.widget-reservation { bottom: 100px; }
	.section-introduction { margin-top: 0; }
	
	.pb-100 { padding-bottom: 100px; }
	
	.main-fold h1 { font-size: 88px; }
	.main-fold h5 { font-size: 22px; }
	.main-fold h4 { font-size: 18px; }
	
	.project-locations { height: 700px; }
	.project-locations a { width: 150px; height: 60px; }
	.project-locations .project-casobe { left: 32%; top: 150px; }
	.project-locations .project-laiya { left: 51%; top: 230px; }
}

/* 880 */
@media (min-width: 880px) {	
	.project-locations .project-casobe { left: 34%; top: 150px; }
}

/* 960 */
@media (min-width: 960px) {	
	.project-locations .project-casobe { left: 36%; top: 150px; }
}

/* 1080 */
@media (min-width: 1080px) {	
	.project-locations .project-casobe { left: 37%; top: 150px; }
}

/* 1260 */
@media (min-width: 1260px) {	
	.project-locations .project-casobe { left: 39%; top: 150px; }
}

/* 1440 */
@media (min-width: 1440px) {
	.project-locations a { width: 160px; height: 70px; }
	.project-locations .project-casobe { left: 40%; top: 160px; }
	.project-locations .project-laiya { left: 51%; top: 250px; }
}