body { overflow-x: hidden; }
.hidden { display: none !important; }
.header-fixed { z-index: 999; }
.navbar .navbar-menu .navbar-items a.btn-primary { padding-top: 15px !important; }

/* Section: Map */
.section-map { position: relative; padding-bottom: 0; padding-top: 100px; margin-top: 0; }
.section-map { background-position: top; background-repeat: no-repeat; background-color: #FFFFFF; }
.section-map:before { position: absolute; content: ""; height: 30%; width: 100%; z-index: 1; top: 0; }
.section-map:before { background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }
.section-map:after { position: absolute; bottom: 0; height: 30%; width: 100%; content: ""; z-index: 1; }
.section-map:after { background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }

.section-map .container { position: relative; z-index: 10; }
.section-map .card { border: 0; border-radius: 0; background-color: transparent; }
.section-map .card-body { padding: 40px; background-color: #222222; }
.section-map .card-body h2,
.section-map .card-body p { color: #FFFFFF; line-height: 1.8em; }
.section-map .card-body a { color: #CCCCCC; }
.section-map .card-body a:hover { opacity: 0.5; }

.section-map .icon-map-marker { position: absolute; display: block; width: 160px; height: 70px; z-index: 2; }
.section-map .icon-map-marker { background-color: #222222; padding: 0 10px; }
.section-map .icon-map-marker svg { fill: black; display: none; }		
.section-map .card-marker-details { position: absolute; max-width: 320px; left: 0; top: 50%; z-index: 2; }

.section-map .floating-cloud { position: absolute; z-index: 1; }
.section-map .floating-cloud img { filter: brightness(125%); }
.section-map .floating-cloud.cloud-1 { opacity: 0.9; left: 40%; top: 20%; }
.section-map .floating-cloud.cloud-1 img { height: 100px; }
.section-map .floating-cloud.cloud-2 { opacity: 0.9; left: 20%; top: 20%; }
.section-map .floating-cloud.cloud-2 img { height: 200px; }
.section-map .floating-cloud.cloud-3 { opacity: 0.9; left: 40%; top: 40%; }
.section-map .floating-cloud.cloud-3 img { height: 100px; }
.section-map .floating-cloud.cloud-4 { opacity: 0.9; left: 60%; top: 60%; }
.section-map .floating-cloud.cloud-4 img { height: 100px; }
.section-map .floating-cloud.cloud-5 { opacity: 0.9; left: 80%; top: 60%; }
.section-map .floating-cloud.cloud-5 img { height: 100px; }
.section-map .floating-cloud.cloud-6 { opacity: 0.9; left: 70%; top: 30%; }
.section-map .floating-cloud.cloud-6 img { height: 150px; }

.section-map .icon-map-marker:after { position: absolute; content: ""; }
.section-map .icon-map-marker:after { border-left: 10px solid transparent; border-right: 10px solid transparent; }
.section-map .icon-map-marker:after { width: 0; height: 0; border-top: 20px solid #222222; }

.section-map .icon-map-marker.map-project-1 { left: 43.7%; top: 25%; transform: translate(-100%, -100%); }
.section-map .icon-map-marker.map-project-2 { left: 28.5%; top: 33.5%; transform: translate(100%, -100%); }
.section-map .icon-map-marker.map-project-1:after { bottom: -99px; right: 15px; border-top: 100px solid #222222; }
.section-map .icon-map-marker.map-project-2:after { bottom: -19px; left: 10px; border-top: 20px solid #222222; }
.section-map .icon-map-marker.map-project-2:after { border-left: 5px solid transparent; border-right: 5px solid transparent; }	

.section-map.for-mobile .icon-map-marker.map-project-1:after { bottom: -99px; right: 15px; }
.section-map.for-mobile .icon-map-marker.map-project-2:after { bottom: -19px; left: 0; }

.home-banner-section { height: calc(100vh - 100px); }
.home-banner-section .container { top: 40%; }
.home-banner-section .banner-bottom-text { line-height: 1.5; display: block; }
.home-banner-section .banner-subtext { line-height: 1.5; }

.widget-reservation { position: absolute; bottom: 20px; left: 50%; transform: translate(-50%, 0); z-index: 10000; }

#modal_FAQ { z-index: 10000; background-color: rgba(0, 0, 0, 0); padding: 0; }
#modal_FAQ .modal-dialog { max-width: 720px; }
#modal_FAQ .modal-content { /*width: 90%;*/ }

header.header-fixed .header-ticker { display: none; }
header .header-ticker { background-color: #34B4F5; margin-top: -15px; text-align: center; padding: 15px; }
header .header-ticker p { color: #FFFFFF; margin-bottom: 0; }
header .header-ticker a { background-color: rgba(0, 0, 0, 0.2); padding: 2px 5px; }
header .header-ticker a { border-radius: 5px; transition: ease all 0.3s; color: #FFFFFF; }
header .header-ticker a:hover { background-color: rgba(0, 0, 0, 0); }

/* Responsive */

/* 320  */
@media (min-width: 320px) {	
	.for-mobile { display: block; }
	.for-screen { display: none; }

	.section-map.for-mobile .icon-map-marker.map-project-1 { left: 47%; top: 0%; }
	.section-map.for-mobile .icon-map-marker.map-project-2 { right: 59%; top: 27%; left: auto; }
	.home-banner-section .container { width: 100%; }

	.widget-reservation { bottom: -200px; width: 100%; }
	.section-introduction { margin-top: 100px; }
	
	.pb-100 { padding-bottom: 50px; }
}

/* 768 */
@media (min-width: 768px) {	
	.for-mobile { display: none; }
	.for-screen { display: block; }

	.widget-reservation { bottom: 100px; }
	.section-introduction { margin-top: 0; }
	
	.pb-100 { padding-bottom: 100px; }
}