// Desktop
@media only screen and (max-width: 1200px) {
    header {
        .navbar {
            .navbar-brand {
                img {
                    width: 185px;
                }
            }
            .navbar-menu {
                .navbar-items {
                    margin-left: 25px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// Desktop View in Mobile Browser
@media only screen and (max-width: 992px) {
    header {
        .navbar {
            .navbar-menu {
                .navbar-items {
                    margin-left: 15px;

                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

// Ipad
@media only screen and (max-width: 768px) {
    header {
        .navbar {
            .sidebar-toggler {
                display: block;
            }
            .navbar-menu {
                position: fixed;
                top: 0;
                left: 0;
                background: var(--color-white);
                height: 100vh;
                width: 300px;
                z-index: 999;
                display: none;
                padding: 0 20px;
                -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                .navbar-items {
                    margin: 30px 0;

                    .navbar-brand {
                        display: block;
                    }
                }
            }
        }
    }

    // Home Banner Section
    .home-banner-section {
        .container {
            .banner-heading {
                width: 73%;

                .banner-title {
                    font-size: 60px;
                }

                .banner-bottom-text {
                    font-size: 14px;
                }
            }

            .banner-text-content {
                width: 73%;
            }

        }
    }

    // Inner Page Section
    .inner-page-section {
        .container {
            .inner-page-heading {
                .inner-page-title {
                    font-size: 50px;
                }
            }
        }
    }

    // Contact Us Page
    .contact-section-title {
        margin-left: 0;
    }
    
    .contact-section-info {
        margin-left: 0;
    }
}

// Mobile 
@media only screen and (max-width: 576px) {
    header {
        .navbar {
            .sidebar-toggler {
                display: block;
            }
            .navbar-menu {
                position: fixed;
                top: 0;
                left: 0;
                background: var(--color-white);
                height: 100vh;
                width: 300px;
                z-index: 999;
                display: none;
                padding: 0 20px;
                -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                .navbar-items {
                    margin: 30px 0;

                    .navbar-brand {
                        display: block;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    // Home Banner Section
    .home-banner-section {
        .container {
            .banner-heading {
                width: 100%;

                .banner-title {
                    font-size: 45px;
                }

                .banner-bottom-text {
                    font-size: 13px;
                }
            }

            .banner-text-content {
                width: 100%;
            }

        }
    }

    // Inner Page Section
    .inner-page-section {
        .container {
            .inner-page-heading {
                width: 100%;

                .inner-page-title {
                    font-size: 40px;
                }

                .inner-page-bottom-text {
                    font-size: 16px;
                }
            }

            .inner-page-text-content {
                width: 100%;
            }

        }
    }

    section {
        .section-headers {
            .section-upper-text {
                font-size: 16px;
            }
    
            .section-title {
                font-size: 30px;
            }
    
            .section-bottom-text {
                font-size: 14px;
            }
        }
    }

    // Call to Action
    .cta-section {
        .cta-content {
            .cta-title {
                font-size: 30px;
            }
        }
    }

    // Cards
    .card {
        .card-body {
            padding: 20px;

            .promo-logo {
                position: relative;
                top: auto;
                right: auto;
                margin-bottom: 16px;
            }

            .promo-btn {
                position: relative;
                right: auto;
                bottom: auto;
            }
        }
    }

    // Locations Page
    .location-content-wrapper {
        .location-heading {
            margin-bottom: 20px;

            img {
                width: 20px;
            }
    
            .location-heading-title {
                font-size: 24px;
            }
        }
    
        .location-card {
            margin-top: 0;
            .location-body {
                padding: 25px;
                .location-card-title {
                    font-size: 24px;
                    margin-bottom: 26px;
                }
            }
        }
    }

    // Contact Us Page
    .contact-section-title {
        margin-left: 0;
    }
    
    .contact-section-info {
        margin-left: 0;
    }

    footer {
        .footer-bottom {
            display: grid;
            justify-items: center;
            text-align: center;

            img {
                margin-top: 16px;
            }
        }
    }
}