// Object Fit
.object-fit-cover {
    object-fit: cover;
}

// Background
.bg-light {
    background-color: var(--color-light) !important;
}

// Scroll
.disabled-bodyscroll {
    position: fixed;
}

// Overlayers
.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-black);
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
}

// List Style
.ls-disc {
    list-style: disc;
}

// Cookie Consent
.wpcc-banner .wpcc-message {
    color: var(--color-white);
}

