// Abstracts
@import 'abstracts/variables';
// Base
@import 'base/base';
@import 'base/typography';
// Abstracts
@import 'abstracts/utilities';
// Components
@import 'components/buttons';
@import 'components/forms';
@import 'components/card';
@import 'components/swiper';
// Layouts
@import 'layouts/header';
@import 'layouts/navbar';
@import 'layouts/section';
@import 'layouts/footer';
// Pages
@import 'pages/home';
@import 'pages/locations';
@import 'pages/accomodations';
@import 'pages/promos';
@import 'pages/gallery';
@import 'pages/contact-us';
// Plugins
@import 'plugins/fancybox';
// Abstracts
@import 'abstracts/animations';
@import 'abstracts/breakpoints';