// Home Banner Section
.home-banner-section {
    position: relative;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    z-index: 9;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: grid;
        justify-items: center;
        text-align: center;

        .banner-heading {
            border-top: 1px solid var(--color-white);
            border-bottom: 1px solid var(--color-white);
            width: 50%;
            padding: 20px;

            .banner-title {
                font-size: 90px;
                text-transform: uppercase;
                color: var(--color-white);
            }

            .banner-bottom-text {
                font-size: 18px;
                letter-spacing: 0.4em;
                text-transform: uppercase;
                color: var(--color-white);
            }
        }

        .banner-text-content {
            display: grid;
            justify-items: center;
            text-align: center;
            margin-top: 50px;
            width: 60%;

            .banner-subtext {
                color: var(--color-white);
            }
    
            .banner-calling-text {
                margin-top: 50px;
                color: var(--color-white);
            }
        }

    }
}

// Inner Page Section
.inner-page-section {
    position: relative;
    padding: 100px 0 100px 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: grid;
        justify-items: center;
        text-align: center;

        .inner-page-heading {
            border-top: 1px solid var(--color-white);
            border-bottom: 1px solid var(--color-white);
            width: auto;
            padding: 30px 0 10px 0;

            .inner-page-title {
                font-size: 60px;
                text-transform: uppercase;
                color: var(--color-white);
            }

            .inner-page-bottom-text {
                font-size: 18px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: var(--color-white);
            }
        }

        .inner-page-text-content {
            display: grid;
            justify-items: center;
            text-align: center;
            margin-top: 50px;
            width: 60%;

            .inner-page-subtext {
                color: var(--color-white);
            }
    
            .inner-page-calling-text {
                position: absolute;
                margin-top: 150px;
                color: var(--color-white);
            }
        }

    }
}

// Accomodation Section
.accomodations-wrapper {
    display: grid;
    justify-items: center;
    text-align: center;

    .accomodation-icon {
        border: 1px solid #C49A5E;
        box-sizing: border-box;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accomodation-name {
        font-size: 16px;
        font-weight: 600;
        margin-top: 12px;
        width: 77%;
    }
}

// Call to Action
.cta-section {
    position: relative;
    padding: 100px 0 100px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .cta-content {
        position: relative;

        .cta-upper-text {
            font-size: 18px;
            text-transform: uppercase;
            color: var(--color-white);
        }

        .cta-title {
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--color-white);
        }

        .cta-lower-text {
            font-size: 16px;
            margin-top: 24px;
            color: var(--color-white);
        }

        .cta-button {
            margin-top: 16px;
        }
    }
}

// Testimonial Section
.testimonial-content {
    margin-left: 24px;

    .testimonial-quotation {
        margin-bottom: 24px;
    }

    .testimonial-text-ratings {
        font-size: 18px;
        line-height: 24px;
    }

    .testimonial-stars {
        display: flex;
        margin-top: 16px;
        margin-bottom: 16px;

        ion-icon {
            color: var(--color-primary);
            margin-right: 5px;
        }
    }

    .testimonial-message {
        margin-top: 40px;
    }

    .testimonial-author {
        font-family: var(--font-gotham);
        display: flex;
        align-items: center;

        ion-icon {
            margin-right: 16px;
        }
    }
}

// Gallery Section
.gallery-section-content {
    display: grid;
    justify-items: center;
    margin-top: 80px;
    text-align: center;

    .gallery-section-subtext {
        font-family: var(--font-gotham);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #8A8A8A;
    }

    .gallery-section-sharer-links {
        display: flex;
        padding: 0;
        margin-top: 20px;

        .gallery-section-item-links {
            margin-right: 20px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                font-size: 20px;
                border: 1px solid var(--color-primary);

                &:hover {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}

