.wg-box-content {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.wg-box-content-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0, 0.1);
}

.wg-box-content-heading {
    position: absolute;
    bottom: 20px;
    color: var(--color-white);
    left: 20px;
}

.wg-box-content-icon {
    width: 50px;
    margin-bottom: 10px;
}

.wg-box-content .wg-box-content-overlay {
    background: rgba(16,138,201, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 9;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.wg-box-content:hover .wg-box-content-overlay{
    opacity: 1;
}

.wg-box-content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.wg-box-content:hover .wg-box-content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.wg-box-content-details h5{
    color: var(--color-white);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.wg-box-content-details p{
    color: var(--color-white);
    font-size: 13px;
}

.wg-box-fadeIn-bottom{
    top: 80%;
}