section {
    padding: 100px 0 80px 0;

    .section-headers {
        .section-upper-text {
            font-size: 18px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #8A8A8A;
            margin-bottom: 16px;
        }

        .section-title {
            font-size: 35px;
            text-transform: uppercase;
            color: var(--color-primary);
        }

        .section-bottom-text {
            font-size: 16px;
        }
    }
}